# BEM 1025: Programming for Business Analytics
#   2nd open-book practical exam, March 22nd 2021

# Provide your first and last name and your student ID in the following cells

### First name and last name:

### Student ID:

# **You need to save this file as PDF that includes the outcome specified for each question. Rename the file with your student ID**

<img width="300" height="400" src="https://www.dropbox.com/s/p5cwxwdtyxjvafc/Screen%20Shot%202021-03-18%20at%207.39.31%20AM.png?dl=1">

# For all questions YOU HAVE TO WRITE SOME CORRECT  PYTHON CODE! simply giving the final answer is not enough!

In [5]:
alphabet = ['A','C','D','E','F','G','H','I','J','K','L','M','O','R','S','T','U','V','W','X','Y','Z']

# break it like below:
alphabet = ['A','C','D','E','F','G','H','I','J','K','L','M','O','R', \
            'S','T','U','V','W','X','Y','Z']

# For all questions YOU HAVE TO WRITE SOME CORRECT  PYTHON CODE! simply giving the final answer is not enough!

In [6]:
# we import the library pandas and give it the "pd" nickname
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### You will work on the following dataframe for this assignment
#### 30,478 Airbnb listings in New York City. This data was compiled from http://insideairbnb.com/:

In [7]:
# we load data from an excel file and select bunch of relevant columns
df=pd.read_csv('https://www.dropbox.com/s/1au68f79pst5b71/airbnb.csv?dl=1')

columns=['Host Id','Host Since','Name',"Neighbourhood",'Property Type','Room Type','Zipcode','Beds', \
         'Number Of Reviews','Price','Review Scores Rating']
df=df[columns]
# we remove missing values
df.dropna(inplace=True)
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Room Type,Zipcode,Beds,Number Of Reviews,Price,Review Scores Rating
0,500,2008-06-26,Trendy Times Square Loft,Manhattan,Apartment,Private room,10036.0,3.0,39,549,96.0
1,1039,2008-07-25,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,Entire home/apt,11222.0,1.0,4,149,100.0
2,1783,2008-08-12,Amazing Also,Manhattan,Apartment,Entire home/apt,10004.0,1.0,9,250,100.0
3,2078,2008-08-15,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,Private room,11201.0,1.0,80,90,94.0
4,2339,2008-08-20,East Village Cocoon: 2 Bedroom Flat,Manhattan,Apartment,Entire home/apt,10009.0,2.0,95,270,90.0

In [8]:
df.columns

Index(['Host Id', 'Host Since', 'Name', 'Neighbourhood', 'Property Type',
       'Room Type', 'Zipcode', 'Beds', 'Number Of Reviews', 'Price',
       'Review Scores Rating'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22010 entries, 0 to 22009
Data columns (total 11 columns):
Host Id                 22010 non-null int64
Host Since              22010 non-null object
Name                    22010 non-null object
Neighbourhood           22010 non-null object
Property Type           22010 non-null object
Room Type               22010 non-null object
Zipcode                 22010 non-null float64
Beds                    22010 non-null float64
Number Of Reviews       22010 non-null int64
Price                   22010 non-null int64
Review Scores Rating    22010 non-null float64
dtypes: float64(3), int64(3), object(5)
memory usage: 2.0+ MB

## Assignment 1 (20%)
### Find properties with 3 or more beds, price range 100-700 (including 100 and 700), rated above 90 and containing word 'stops' or 'subway' in their names.

### **OUTCOME:** Provide the **head** and **shape** of the outcome dataframe

## Assignment 2 (20%)
### Find the 5 most expensive zipcodes to rent Airbnb in NYC

### **OUTCOME:** Provide the list of the 5 zipcodes (and their corresponding neighbourhoods)
### Tip: you need to find the average price for all given zipcodes (and their corresponding neighbourhood) and then sort them descendingly by price

## Assignment 3 (20%)
### Transform the dataframe into a long dataframe to include a column representing Neighbourhood, Property Type, and Room Type and a column representing its value

### **OUTCOME:** Provide the **head** and **shape** of the outcome

## Assignment 4 (20%)
### Plot the relationship between year since  Hosts joined Airbnb and their average Review Scores Rating for various Room Type

### **OUTCOME:** Create a plot where x represents year  hosts joined Airbnb, y represents average Review Scores Rating, and lines with different colors represent Room Type

### Tip: You need to group and average by year (use pd.Grouper and Groupby) and then plot using seaborn

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

## Assignment 5 (20%)
### For properties cheaper than 1000, Plot the relationship between Review Scores Rating  and price for various Neighbourhoods and Room Types

### **OUTCOME:** Create a facet plot where x represents 'Review Scores Rating', y represents Price, color represents Room Type, columns represent Neighborhoods
### Tip: you need to combine FacetGrid with plt.scatter

## Assignment 6 (Extra credit 10%)
### Create a table where Room types are on the columns, Neibourhood and Property Type are on the rows, and average price are shown in the cells 

### **OUTCOME:** Like the following table

<img src="https://www.dropbox.com/s/5b8sz7wujyhl8d3/Screen%20Shot%202021-03-02%20at%201.51.34%20PM.png?dl=1">

#